body
{
    height: 122.995vw; 
    margin: 0;
    overflow-x:hidden;
    display: flex;
    flex-flow: row wrap;;
}
.flexbox
{
    display: flex;
    height: 100%;
    left:15.908vw;
    width: 84.092vw;
    flex-flow: row wrap;
    justify-content: center;
}

div
{
    position: relative;
    
}
/* ----------------------------------Formatação do Header----------------------------------------- */
.header
{
    background-color: #FDF1EB;
    width: 100%;
    height: 4.98vw;
    align-content: flex-start;
    display: flex;

}
.Header .HeaderParteEsquerda
{
    width:67.9%;
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;


}
.HeaderParteEsquerda div
{
    width: 100%;
    padding-left: 2.6vw;
}
.HeaderParteEsquerda .Texto1, .Texto3
{
    font-size: 1vw;
    font-family: Roboto;
    font-weight: 400;
}
.HeaderParteEsquerda .Texto2
{
    font-size: 1.62vw;
    font-family: Roboto;
    font-weight: 400;
} 

.Header .HeaderParteDireita
{
    width:32.1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.Header .HeaderParteDireita .BotaoLinguagem
{
    height: 2.5vw;
    width: 7.13vw;
    font-size: 1vw;
    font-family: quicksand;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header .HeaderParteDireita .BotaoLinguagem .DropDown
{
    padding: 0.5vw;
}

.Header .HeaderParteDireita .DadosUsuarios
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}

.Header .HeaderParteDireita .DadosUsuarios .LadoEsquerdo .BemVindo
{
    display: flex;
    justify-content: flex-end;
    font-family: Quicksand;
    font-size: 1vw;
}

.Header .HeaderParteDireita .DadosUsuarios .LadoEsquerdo .Email
{
    display: flex;
    justify-content: flex-end;
    font-family: Quicksand;
    font-size: .88vw;
}

.Header .HeaderParteDireita .DadosUsuarios .LadoDireito
{
    display: flex; 
    flex-direction: row-reverse;
}

.Header .HeaderParteDireita .DadosUsuarios .LadoDireito img
{
    border-radius: 100%;
    height: 2.1vw;
    width: 2.1vw;
    padding: 0.3vw 0.3vw 0.3vw 0.3vw ;
}
.Header .HeaderParteDireita .DadosUsuarios .LadoDireito .Notificacao
{
 position: absolute;
 background-color: #F85959;
 border-radius: 100%;
 width: .88vw;
 height: .88vw;
 font-family: Roboto;
 font-size: 0.735vw;
 color:  #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: center;


}
/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------Formatação do Subtítulo------------------------------------- */
.Subtitulo
{
    height: 3.95vw;
    width: 57.79vw;
    margin-right: 2.49vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.47vw;
    color: #ED7839;
}
/* ----------------------------------------------------------------------------------------------- */
/* ------------------------------------Formatação dos Botões------------------------------------- */
.BotaoDownload
{
    height: 5vw;
    width: 17.57vw;
    display: flex;
    flex-direction: column;

}

.BotaoDownload .ParteSuperior
{
    width: 100%;
    height: 50%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.BotaoDownload .ParteSuperior .Download
{
    background: #ED7839;
    border-radius: 4px;
    width: 8.82vw;
    height: 2.28vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.1764vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BotaoDownload .ParteSuperior .Download img
{
    padding-right: 0.367vw;
    width: 1.397vw;
    height: 1.397vw;
}

.BotaoDownload .ParteSuperior .Estrela, .Doi
{
    background: #ED7839;
    width: 3.16vw;
    height: 2.28vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.BotaoDownload .ParteSuperior .Estrela img, .Doi img
{
    width: 1.397vw;
    height: 1.397vw;

}

.BotaoDownload .ParteInferior
{
    width: 100%;
    height: 50%;
    padding-top: 0.88vw;
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.05vw;
    letter-spacing: 0.1vw;
    color: #ED7839;
    text-transform: uppercase;
}

/* ----------------------------------------------------------------------------------------------- */
/* -----------------------------------Formatação do Player---------------------------------------- */
.Player
{
    background-image: url(Imagens/Video/dewey1.png);
    background-size: 57.32vw 32.14vw;
    position: relative;
    width: 57.32vw;
    height: 32.14vw;
    margin-right: 2.279vw;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.Player::before
{
    background-color:  rgba(141, 53, 6, 0.5);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 3px;


}

.Player .TituloVideo
{
    padding-top: 2.57vw;
    padding-left: 2.35vw;
    padding-right: 1.25vw;
    height: 42.027%;
    width: 93.71%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.764vw;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}

.Player .AutorVideo
{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

.Player .AutorVideo .Imagem
{
    padding-left: 2.28vw;
    padding-bottom: 3.82vw;
}

.Player .AutorVideo .Imagem img
{
    border-radius: 100%;
    border: 1px solid #ED7839;
    box-sizing: border-box;
    width: 6.176vw;
    height: 6.323vw;
}

.Player .AutorVideo .Imagem
{
    padding-left: 2.28vw;
    padding-bottom: 3.82vw;

}
.Player .AutorVideo .Escrita
{
    padding-bottom: 3.82vw;
}

.Player .AutorVideo .Escrita .Autor
{
    width: 33.235vw;
    height: 2.647vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 2.5vw;
    letter-spacing: 0.05em;
    padding-left: 1.25vw;
    padding-bottom: 0.3676vw;
}

.Player .AutorVideo .Escrita .Universidade
{
    width: 30.661vw;
    height: 1.985vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.47vw;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-left: 1.397vw;

}


/* ----------------------------------------------------------------------------------------------- */
/* --------------------------------Formatação dos Detalhes---------------------------------------- */
.detalhes
{
    width: 17.794vw;
    height: 32.279vw;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}
.detalhes .HearderDetalhes
{
    height: 3.3088vw;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.47vw;
    display: flex;
    align-items: center;
    padding-left: 1.1029vw;
    padding-right: 1.1029vw;
    color: #4E4E4E;
}
.detalhes .ParteInferior
{
    height: 100%;
    display: flex;
}

.detalhes .ParteInferior .Textos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.102vw 0.441vw 1.102vw 1.102vw;
}

.detalhes .ParteInferior .Textos .Texto1
{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8823vw;
    letter-spacing: 0.02em;
    line-height: 1.058vw;

}

.detalhes .ParteInferior .Textos .Texto2
{
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0294vw;
    letter-spacing: 0.02em;
    line-height: 1.6vw;
}

.detalhes .ParteInferior .Textos .Texto3
{
    color: #5C5C5C;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85vw;
    letter-spacing: 0.02em;
}

.detalhes .ParteInferior .ScrollBar
{
    width: 0.2205vw;
    height: 26.985vw;

    background: #E7E7E7;
    border-radius: 5px;
    right: 0.3676vw;
    top: 0.7353vw;
    bottom: 1.25vw;
}
.detalhes .ParteInferior .ScrollBar .ScrollBar2
{
    
    width: 0.2205vw;
    height: 14.705vw;
    background: #BFBFBF;
    border-radius: 5px;
}
/* ----------------------------------------------------------------------------------------------- */
/* ---------------------------------Formatação Texto Principal------------------------------------ */
.TextoPrincipal
{
    background-color:lawngreen;
    width: 77.45vw;
    height: 13.84vw;
}
/* ----------------------------------------------------------------------------------------------- */
.Discussoes
{
    background-color:lightsalmon;
    width: 77.45vw;
    height: 45.46vw; 
}
footer img
{   
    width: 79.5vw;
    height: 13.25vw;
}
/* ---------------------------------Formatação SideBar-------------------------------------------- */
.Sidebar
{
    position: fixed;
    z-index: 1;
    flex-grow: 1;
    background-color: darkgray;
    width: 15.908vw;
    height: 100%;
    overflow:auto;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.sidebar h1
{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 80.9%;
    height: 4.98vw;
    padding: 0 10.01% 0 9.1%;
    margin: 0%;
    font-family: Roboto;
    font-style: normal;
    font-size: 2.1vw;
    font-weight:700;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.Imagem_MenuLogo
{
    width: 100%;
    height: 18.97vw;
}
.Conteudo_Menu a
{
    text-decoration: none;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500; 
    font-size: 15px;
    line-height: 19px;

    display: flex;
    padding-top: 3.19%;
    padding-left: 10.9%;
    padding-bottom: 3.19%;
    color: #725C5C;

    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #FFFFFF;
    

}
.Conteudo_Menu ul
{
    margin: 0%;
    padding-left: 0;
    background-color: #E5E5E5;
}
.Conteudo_Menu a:hover
{
    text-decoration: none;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500; 
    font-size: 15px;
    line-height: 19px;

    display: flex;
    padding-top: 3.19%;
    padding-left: 13.18%;
    padding-bottom: 3.19%;
    border-left: solid 5px #ED7839;
    color: #725C5C;
    background: #FDF1EB;

}
/* ----------------------------------------------------------------------------------------------- */


