body
{
    height: 122.995vw; 
    margin: 0;
    overflow-x:hidden;
    display: flex;
    flex-flow: row wrap;;
}
.flexbox
{
    display: flex;
    height: 100%;
    width: 82.864vw;
    /* left: 16.105vw; */
    flex-flow: row wrap;
    /* align-content: space-around; */
    justify-content: center;

}

div
{
    position: relative;
    
}
.header
{
    background-color: #FDF1EB;
    width: 100%;
    height: 4.98vw;
    align-content: flex-start;
    display: flex;

}
.Header .HeaderParteEsquerda
{
    width:67.9%;
    display: flex;
    align-content: space-around;
    justify-content: flex-start;
    flex-wrap: wrap;


}
.HeaderParteEsquerda div
{
    width: 100%;
    padding-left: 2.6vw;
}
.HeaderParteEsquerda .Texto1, .Texto3
{
    font-size: 1vw;
    font-family: Roboto;
    font-weight: 400;
}
.HeaderParteEsquerda .Texto2
{
    font-size: 1.62vw;
    font-family: Roboto;
    font-weight: 400;
} 

.Header .HeaderParteDireita
{
    width:32.1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.Header .HeaderParteDireita .BotaoLinguagem
{
    height: 2.5vw;
    width: 7.13vw;
    font-size: 1vw;
    font-family: quicksand;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header .HeaderParteDireita .BotaoLinguagem .DropDown
{
    padding: 0.5vw;
}

.Subtitulo
{
    
    background-color: orchid;
    height: 3.95vw;
    width: 56.84vw;
    margin-right: 2.49vw;
}
.BotaoDownload
{
    background-color: peru;
    height: 3.95vw;
    width: 17.28vw;
    /* margin: 1.46vw 3.22vw 0.18vw 1.24vw ; */
}
.player
{
    background-color: red;
    width: 57.32vw;
    height: 32.14vw;
    margin-right: 2.27vw;
    /* margin: 0.7vw 1.13vw 1.10vw 3.28vw ; */
}
.detalhes
{
    background-color:sienna;
    width: 17.72vw;
    height: 32.14vw;
    /* margin: 0.18vw 3.28vw 11.10vw 1.13vw ; */
}
.TextoPrincipal
{
    background-color:lawngreen;
    width: 77.45vw;
    height: 13.84vw;
}
.Discussoes
{
    background-color:lightsalmon;
    width: 77.45vw;
    height: 45.46vw; 
}
footer img
{   
    width: 79.5vw;
    height: 13.25vw;
}
.Sidebar
{
    position: fixed;
    z-index: 1;
    flex-grow: 1;
    background-color: darkgray;
    width: 15.908vw;
    height: 100%;
    overflow:auto;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.sidebar h1
{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 80.9%;
    height: 4.98vw;
    padding: 0 10.01% 0 9.1%;
    margin: 0%;
    font-family: Roboto;
    font-style: normal;
    font-size: 2.1vw;
    font-weight:700;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.Imagem_MenuLogo
{
    width: 100%;
    height: 35%;
}
.Conteudo_Menu a
{
    text-decoration: none;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500; 
    font-size: 15px;
    line-height: 19px;

    display: flex;
    padding-top: 3.19%;
    padding-left: 10.9%;
    padding-bottom: 3.19%;
    color: #725C5C;

    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #FFFFFF;
    

}
.Conteudo_Menu ul
{
    margin: 0%;
    padding-left: 0;
    background-color: #E5E5E5;
}
.Conteudo_Menu a:hover
{
    text-decoration: none;

    font-family: Quicksand;
    font-style: normal;
    font-weight: 500; 
    font-size: 15px;
    line-height: 19px;

    display: flex;
    padding-top: 3.19%;
    padding-left: 13.18%;
    padding-bottom: 3.19%;
    border-left: solid 5px #ED7839;
    color: #725C5C;
    background: #FDF1EB;

}
.flexbox
{
    left:15.908vw;
    width: 84.092vw;
}
.textoprincipal
{
    background-color: darkmagenta;

}

